{{ range gitHubKeys "mostpinkest" }}
{{- .Key }}
{{ end }}
sk-ecdsa-sha2-nistp256@openssh.com AAAAInNrLWVjZHNhLXNoYTItbmlzdHAyNTZAb3BlbnNzaC5jb20AAAAIbmlzdHAyNTYAAABBBGLskekNW7YIECJnXn/duv1HWdI+I/XXtQmGmuis8Y+NoE5dFC5Sr+W2B3CAYPk547lGzUjoT2H5MeAyOOR6HmAAAAAEc3NoOg== ssh:
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEc77CN+bKBlRRi8caIWjKLlsJtiBsc/bvbh4tYbZT1k

ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBBkxduDtMV3pdoVj1sQ3I4P0Ewjh+ChaTvLKWyGLTkQTr28JPELaE2VxheyeBZ7b+d00ICEBiY0yQK9N/EgHngg=
